---
---

@import "{{ site.theme }}";

// Variables
$primary-color: #3498db; // Blue color
$secondary-color: #2ecc71; // Green color
$background-color: #121212; // Light gray background
$text-color: white; // Dark text color
$font-stack: 'Helvetica Neue', Arial, sans-serif;

/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: $font-stack; /* Font style */
    background-color: $background-color; /* Dark background color */
    color: $text-color; /* Standard text color */
    line-height: 1.6; /* Line height for readability */
}

h1, h2, h3 {
    color: #ffffff; /* White text for headings */
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5em; /* Font size for h1 */
}

h2 {
    font-size: 2em; /* Font size for h2 */
}

h3 {
    font-size: 1.5em; /* Font size for h3 */
}

/* Hides the header with the repository name */
header .container-lg h1 {
    display: none !important;
}

/* Link Styles */
a {
    color: #1e90ff; /* Bright blue color for links */
    text-decoration: none; /* No underline on links */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

a:hover {
    color: #add8e6; /* Light blue on hover */
    text-decoration: underline; /* Underline on hover */
}

/* Container */
.container {
    max-width: 1200px; /* Maximum width for content */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Padding around content */
}

/* Navigation Styles */
nav {
    background-color: #1c1c1c; /* Darker background for navigation */
    padding: 15px; /* Padding around navigation */
    text-align: center; /* Centered text in nav */
}

nav a {
    color: #ffffff; /* White links in navigation */
    margin: 0 15px; /* Space between links */
    font-weight: bold; /* Bold font for links */
}

/* Footer Styles */
footer {
    background-color: #1c1c1c; /* Dark footer background */
    text-align: center; /* Centered text in footer */
    padding: 15px; /* Padding in footer */
    position: relative; /* Footer positioning */
    bottom: 0; /* Align footer to the bottom */
    width: 100%; /* Full width footer */
}

footer p {
    margin: 0; /* Remove default margin */
}

/* Responsive Styles */
@media (max-width: 768px) {
    h1 {
        font-size: 2em; /* Adjust h1 size for mobile */
    }

    h2 {
        font-size: 1.75em; /* Adjust h2 size for mobile */
    }

    h3 {
        font-size: 1.25em; /* Adjust h3 size for mobile */
    }

    nav {
        a {
            margin: 0 10px; /* Adjust link margin for mobile */
        }
    }
}
